#rotate{
	transform: rotate(45deg);
	animation: rotate .1s infinite;
}

#skew {
	transform: skew(45deg);
	background-color: blue
}
#all{
	background-color: yellow;
	transform:rotate(45deg);
	transform:skew(135deg);

}
#matrix{
	border: 2px solid #000;
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px;
  transform:matrix(0.586,0.8,-0.8,0.586,40,40);
  background-color: teal;

}
.input:focus {
	background-color: red;

}

div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: i .1s infinite;
    animation: i .1s infinite;
}
@keyframes i {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}
@keyframes rotate {
	0%{transform:rotate(36deg);}
	10%{transform: rotate(72deg);}
	20%{transform: rotate(108deg);}
	30%{transform: rotate(144deg);}
	40%{transform: rotate(170deg);}
	50%{transform: rotate(206deg);}
	60%{transform: rotate(242deg);}
	70%{transform: rotate(278deg);}
	80%{transform: rotate(314deg);}
	90%{transform: rotate(340deg);}
	100%{transform: rotate(360deg);}
	
}
#pseudo:hover{
	background-color: blue;
}

